.position1 {
    position: relative;
}

.position1 p {
    margin: 0;
}

.child {
    position: relative;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung (chữ) */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    left: 20px;
}

.child2 {
    position: absolute;
    background-color: lightgreen;
    /* Chiều ngang vừa với nội dung (chữ) */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    left: 20px;
}

.child3 {
    position: fixed;
    background-color: red;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    bottom: 10px;
    right: 10px;
}

img {
    height: 150px;
}

/* Flexbox */
.container {
    display: flex;
    background-color: lightpink;
    /* Hướng sắp xếp phần tử */
    flex-direction: row;
    /* Vị trí theo chiều ngang */
    justify-content: space-around;
    /* Vị trí theo chiều dọc */
    align-items: center;
    /* Xuống dòng khi hết chỗ */
    flex-wrap: wrap;
}

/* Responsive */
#test {
    background-color: salmon;
    width: 200px;
    height: 100px;
}

@media (max-width: 768px){
    #test {
        background-color: green;
    }
}